@charset "UTF-8";

/* estilo para telas */

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

body{
    background-color: lightblue;
}

header{
    background-color: lightgray;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 4px black;
}

h1{
    padding: 15px;
}

menu li{
    display: inline-block;
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 10px;
    margin: 1px;
}

menu ul{
    background-color: darkgray;
}

article{
    border-radius: 5px;
    margin: 0 auto;
    line-height: 1.5em;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: -1px 1px 5px  black;
}

h2{
    padding-bottom: 20px;
    padding-top: 20px;
}

p{
    text-align: justify;
    text-indent: 1.5em;
    padding-bottom: 15px;
}